/* whole document */
* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --header-primary:  #9ee0d7;
    --header-secondary: #2a607c;
    --background:  #e9eef4;
    --shadow: rgba(0, 0, 0, 0.5);
}

body {
    color: var(--header-secondary);
    background-color: var(--background);
    margin-right: 10px;
}

/* header section */
.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 7px 10px 15px 0;
    background-color: var(--header-secondary);
}

.header h1 {
    margin:  4px 0;
    padding: 10px 10px 10px 60px;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    background-color: var(--header-primary);
}

.header h1 a {
    text-decoration: none;
    color: var(--header-secondary);
}
/* end header */

    
/* nav section */
.header nav {
    display: flex;
    align-items:center;
    padding-top: 10px;
    /* margin: 7px 0; */
    font-size: 20px;
}

.header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    list-style: none;
}

.header nav ul li a {
    /* font-size: 24px; */
    font-size: 2vw;
    font-weight: lighter;
    text-decoration: none;
    color: var(--header-primary);
    padding: 5px 10px;
    border-bottom: 3px solid var(--header-primary);
    margin: 5px;
    text-shadow: 0 0 10px var(--shadow);
}

header nav ul li a:hover {
    background: var(--header-primary);
    color: var(--header-secondary);    border-radius: 10px;
    text-shadow: none;
  }
/* end nav section */


/* hero section */
.hero {
    width: 100%;
    height: 200px;
    display: flex;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--header-primary);
}

.hero h2 {
    background-color: var(--header-primary);
    color: var(--header-secondary);
    padding: 5px 10px;
    margin-right: 60px;
    margin-bottom: 10px;
}

/* Main Section */

.about-me {
    display: flex;
    margin-top: 10px;
    margin-bottom: 15px;

}

.work {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;

}

/* footer section */
.footer {
    display: flex;
    flex-wrap: wrap;
    /* padding: 5px 10px; */
}

.left-side {
    flex: 1;
    text-align: end;
    margin: 5px 15px 5px 0;
    padding-right: 5px;
    font-size: 20px;
    border-right: 3px solid var(--header-secondary);
}

.right-side {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 20px 10px 10px;
}


.app {
    flex: 1;
    /* padding: 5px; */
    min-width: 50%;
}

.app img {
    width: 400px;
    border: 3px solid var(--header-primary);

}

.app-featured {
    flex: 1;
    /* padding: 5px; */
    min-width: 50%;
}

.app-featured img {
    width: 800px;
    border: 3px solid var(--header-primary);
}


.footer-right-side {
    flex: 3;
    justify-content: space-around;
    align-content: center;
    margin: 0 20px 10px 10px;
}

.footer-right-side a {
    /* text-decoration: none; */
    /* padding-bottom: 5px; */
    /* color: var(--header-secondary); */
    border-bottom: 3px solid var(--header-secondary);
}
/* end footer section */

/* end main body */


/* ###################################### */
/* ####### Begin media queries########### */
/* ###################################### */


@media screen and (max-width: 900px) {
/* 900px footer section */
.footer {
    padding: 5px 10px;
    clear: both;
}

.footer h2 {
    width: 100%;
    font-size: 30px;
    /* border-bottom: 3px solid var(--header-secondary); */
}

.footer div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
}

.footer div a {
    text-decoration: none;
    padding-bottom: 5px;
    color: var(--header-secondary);
    /* border-bottom: 3px solid var(--header-secondary); */
}
}