/* whole document */
* {
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

/* css variables */
:root {
    --header-primary:  #9ee0d7;
    --header-secondary: #2a607c;
    --background:  #e9eef4;
    --shadow: rgba(0, 0, 0, 0.5);
    --line-thickness: 3px;
}

body {
    color: var(--header-secondary);
    background-color: var(--background);
    margin-right: 10px;
}

/* header section */
.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 7px 10px 15px 0;
    background-color: var(--header-secondary);
}

.header h1 {
    margin:  4px 0;
    padding: 10px 10px 10px 60px;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    background-color: var(--header-primary);
}

.header h1 a {
    text-decoration: none;
    color: var(--header-secondary);
}
/* end header */

    
/* nav section */
.header nav {
    display: flex;
    align-items:center;
    padding-top: 10px;
    /* margin: 7px 0; */
    /* font-size: 20px; plan to delete this */
}

.header nav ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
    list-style: none;
}

.header nav ul li a {
    /* font-size: 24px; */
    font-size: 2vw;
    font-weight: lighter;
    text-decoration: none;
    color: var(--header-primary);
    padding: 5px 10px;
    border-bottom: var(--line-thickness) solid var(--header-primary);
    margin: 5px;
    text-shadow: 0 0 10px var(--shadow);
}

header nav ul li a:hover {
    background: var(--header-primary);
    color: var(--header-secondary);    border-radius: 10px;
    text-shadow: none;
  }
/* end nav section */


/* hero section */
.hero {
    width: 100%;
    height: 200px;
    display: flex;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--header-primary);
}

.hero h2 {
    background-color: var(--header-primary);
    color: var(--header-secondary);
    padding: 5px 10px;
    margin-right: 60px;
    margin-bottom: 10px;
}
/* end of hero */


/* ################# */

/* Main Section */

/* each part of the main section will be divided between left-side and right-side */
/* this class sets up the left half of the body */
.left-side {
    /* 1/4 of the widht of the page */
    flex: 1;
    text-align: end;
    margin: 5px 15px 5px 0;
    padding-right: 5px;
    font-size: 20px;
    border-right: var(--line-thickness) solid var(--header-secondary);
}

/* this class sets up the right side of the page in teh body */
.right-side {
    display: flex;
    flex: 3;
    width: 75%;
    flex-wrap: wrap;
    padding-top: 5px;
    justify-content: space-between;
    margin: 5 20px 10px 10px;
}


/* about me section */
.about-me {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 15px;
}

.about-me p {
    font-size: 16px;
}
/* end about me */


/* work section */
.work {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}




.app-featured img {
    min-width: none;
    height: 200px;
    border: var(--line-thickness) solid var(--header-primary);
}



.app {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    justify-content:flex-end;
    margin-bottom: 10px;
    min-width: 30%;
    width: 49%;
    height: 100px;
    background-size: cover;
    border: var(--line-thickness) solid var(--header-primary);

}
#featured {
    background-image: url("../images/02-run-buddy.jpg");
    background-position: top;
    height: 200px;
    width: 100%;
}

#app-1 {
    background-image: url("../images/02-portfolio-1.jpg");
    background-position: center;
}

#app-2 {
    background-image: url("../images/02-portfolio-2.jpg");
    background-position: 75% 70%;
}

#app-3 {
    background-image: url("../images/02-portfolio-3.jpg");
    background-position: right;
}

#app-4 {
    background-image: url("../images/02-portfolio-4.jpg");
    background-position: center;
}

.app h3 {
    position: relative;
    background-color: var(--header-primary);
    color: var(--header-secondary);
    width: 25%;
    padding-left: 5px;
    margin-left: var(--line-thickness);
}

.app p {
    position: relative;
    background-color: var(--header-primary);
    color: var(--header-secondary);
    width:25%;
    font-size: small;
    padding-left: 5px;
    margin-left: var(--line-thickness);
}

/* end work section */


/* footer / contact me section */


.footer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.contact-info {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    padding-top: px;
}

.contact-info a {
    /* padding-bottom: 5px; */
    padding: 0 5px 0 5px;
    text-decoration: none;
    border-bottom: var(--line-thickness) solid var(--header-secondary);
}

.contact-info a:hover {
    background: var(--header-primary);
    color: var(--header-secondary);    
    border-radius: 10px;
    border-bottom: 0ch;
}
/* end footer section */


/* end main body */


/* ###################################### */
/* ####### Begin media queries########### */
/* ###################################### */


@media screen and (max-width: 900px) {
    /* 900px footer section */
    .left-side {
        /* 1/4 of the widht of the page */
        flex: 1;
        text-align: start;
        margin: 5px 15px 5px 0;
        padding-right: 5px;
        font-size: 20px;
        border-right: none;
        border-bottom: var(--line-thickness) solid var(--header-secondary);
    }

    /* this class sets up the right side of the page in teh body */
    .right-side {
        display: flex;
        flex: 1;
        width: 100%;
        flex-wrap: wrap;
        padding-top: 5px;
        justify-content: space-between;
        margin: 5 20px 10px 10px;
    }

    /* about me section */
    .about-me {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .about-me h2 {
        display: inline;
    }

    .about-me p {
        font-size: 16px;
    }
    /* end about me */
}